* {
  margin: 0;
  padding: 0;
}


body, html {
  height: 100%;
}

.baggrund {
  /* The image used */
  background-image: url("/Artboard\ 4.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* .header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.headerbanner {
  padding: 30px;
  padding-bottom: 70px;
  display: flexbox;
  text-align: center;
}

.p_style2 {
  color: #bb8a8a;
  font-weight: bold;
  display: inline;
  text-align: left;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
} */

  