* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background: #79b3e6;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.headerbanner {
  padding: 30px;
  padding-bottom: 70px;
  display: flexbox;
  text-align: center;
}

.p_style {
  color: #ffffff;
  font-weight: bold;
  display: flexbox;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
}

.p_style2 {
  color: #ffffff;
  font-weight: bold;
  display: inline;
  text-align: left;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
}

@media (min-width: 800px) {
  body {
    background: #79b3e6;
  }
  .p_style {
    color: #ffffff;
    font-weight: bold;
    display: flexbox;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
  }

  .p_style2 {
    color: #ffffff;
    font-weight: bold;
    display: inline;
    text-align: left;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
  }
}
