* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background: #ffffff;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.headerbanner {
  padding: 30px;
  padding-bottom: 70px;
  text-align: center;
}

.p_style2 {
  color: #bb8a8a;
  font-weight: bold;
  display: inline;
  text-align: left;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
}

@media (min-width: 600px) {
  body {
    background: #ffffff;
  }

  .p_style2 {
    color: #471b0b;
    font-weight: bold;
    display: inline;
    text-align: left;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
    word-spacing: 20px;
  }
}
