* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(246, 237, 232);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-bottom: 10%;
  margin-top: 5%;
  margin-left: 18%;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  right: 100%;
  position: absolute;
  width: auto;
  margin-top: 20%;
  padding: 16px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #504f4f;
  font-size: 12px;
  margin-top: 30px;
  position: absolute;
  top: 0;
}

.dots {
  display: inline-block;
  position: relative;
  margin-left: 44%;
  margin-bottom: 5%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 20%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
@media screen and (max-width: 828px) {
  .dots {
    display: inline-block;
    position: relative;
    margin-left: 34%;
    margin-bottom: 5%;
  }

  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-top: 20%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.row {
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
}

.row .left {
  overflow: hidden;
}

.row .right {
  align-items: center;
}

.row .right .content {
  padding-left: 20px;
}

@media (max-width: 990px) {
  .row .right .content {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .row {
    width: 90%;
    grid-template-columns: 1fr;
  }
}
