* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(246, 237, 232);
}

body {
  background-color: rgb(246, 237, 232);
}
/* igang med at lave grid nu. rows er vertikale og colonner er horisontale.
 */
.box1 {
  grid-area: box1;
  margin-bottom: 50px;
}

/* justify-content
align-items */

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
  margin-bottom: 30%;
  margin-top: 0;
}
.box4 {
  grid-area: box4;
}

/* justify-content
align-items */

.box5 {
  grid-area: box5;
  width: 60%;
  margin-bottom: 40px;
}

.box6 {
  grid-area: box6;
}
.overskrift1 {
  color: chocolate;
  font-size: 80px;
  font-family: "fino", serif;
  margin-right: 55%;
  margin-bottom: 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-bottom: 10%;
  margin-top: 5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  right: 101%;
  position: absolute;
  width: auto;
  margin-top: 20%;
  padding: 16px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #504f4f;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;

  height: 15px;
  width: 15px;
  margin-top: 45%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* display grid for ikke kolonnerne til at gøre noget nyt, de vil bare være staplet ovenpå hinanden.
 man bruger "fr" som betyder "fractions" istedet for at skrive 300px 300px f.eks. udfra grid-template-columns
 fr tager alt det tilgængelige plads i kolonnen*/
.div1 {
  display: grid;
  height: 300px;
  margin-top: 8%;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box1 box1"
    "box2 box3";
}

.div2 {
  display: grid;
  margin-top: 30%;
  margin-bottom: 30%;
  column-gap: 40px;
  height: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box5 box4"
    "box6 .";
}

/* her kunne grid-column-start 1 og grid-column-end 3 også bruges. Men det kan forkortes
ved at bruge grid-column:1/3. man tæller altså kolonnerne ved første streg af boxen til den sidste*/
/* sådan her kan man gøre det, men der er en nemmere måde-> se nedenunder 

.box3 {
  grid-column:1/3;
} */

/* .box2 {
  grid-row: 1/3;
}  */

/* man kan lave en grid-templaet-areas som fungerer som en visuel representation af
 ens grid. man definerer boxene og giver dem et navn som er gjort længere oppe ved box-classerne
 nu kan man altså lave grid-layoutet ved at skrive navnene ind. Så første ord representerer den første kolonne.
 første ord refererer til første kolonne. tredje ord referer til første række osv. 
 man kan skrive et punktum hvis man vil have et tomt område.  */

@media (max-width: 900px) {
  body {
    background: #861717;
  }

  .div1 {
    display: block;
    height: 90%;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "box1 box1"
      "box2 box2"
      "box3 box3";
  }

  .div2 {
    display: block;
    height: 90%;
    row-gap: 40px;
    column-gap: 40px;
    grid-row-gap: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "box4 box4"
      "box5 box5"
      "box6 box6";
  }
}
