main {
  margin-left: 5rem;
  margin-right: 5rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 95%;
  height: 70;
  object-fit: cover;
 transition: .5s ease;
}
  
    
    .img img:hover{
    box-shadow: 0 0 0 10px #000000;
    transition: .5s ease;
    }
  





h2 {
  font-family: "Antic Didone", serif;
  font-weight: 200;
  font-style: normal;
}

p {
  font-family: "Antic Didone", serif;
  font-weight: 200;
  font-style: normal;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid_1-1 {
  display: grid;
  gap: 50px;
  padding: 10px;
}

.col {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 0;
  padding-bottom: 1rem;
}

.col_1 {
  border-radius: 100px;
}

.col_2 {
  border-radius: 100px;
}




@media (min-width: 850px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .col_3 {
    grid-column: 1/3;
  }
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.headerbanner {
  padding: 30px;
  padding-bottom: 70px;
  display: flexbox;
  text-align: center;
}



.p_style2 {
  color: #471B0B;
  font-weight: bold;
  display: inline;
  text-align: left;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
}


@media (min-width: 800px) {
  body {
    background: #ffffff;
  }
  
  .p_style2 {
    color: #471B0B;
    font-weight: bold;
    display: inline;
    text-align: left;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
    word-spacing: 20px;
  }
}
body {
  background-image: url(/Artboard\ 8-03.jpg);
   /* The image used */

   /* Full height */
   height: 60%;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
