.grid_1-1 {
  display: grid;
  gap: 50px;
  padding: 10px;
}

main {
  margin-left: 5rem;
  margin-right: 5rem;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 0;
  padding-bottom: 1rem;
}

.col_1 {
  border-radius: 100px;
  
}

.col_2 {
 
  border-radius: 100px;
}


@media (min-width: 850px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .col_3 {
    grid-column: 1/3;
  }
}
