main {
  margin-left: 5rem;
  margin-right: 5rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 95%;
  object-fit: cover;
}

.img1 {
  position: relative;
}

.img1 img {
  max-width: 100%;
  height: auto;
}

img:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.link {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);

  cursor: pointer;
  position: absolute;
  top: 0;
  margin-top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #f4255c;
  padding: 0.5em 1.5em;
  border-radius: 8px;
  text-decoration: underline;
  transition: box-shadow 0.3s;
}

.link:hover {
  background-color: #f4255c;
  color: white;
  text-decoration: underline;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.grid_1-1 {
  display: grid;
  gap: 50px;
  padding-top: 10%;
}

.col {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 0;
  padding-bottom: 1rem;
}

.col_1 {
  border-radius: 100px;
}

.col_2 {
  border-radius: 100px;
}

.col_3 {
  border-radius: 100px;
  margin-left: 25%;
}

@media (min-width: 900px) {
  body {
    background-color: rgb(246, 237, 232);
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }
  .col_3 {
    grid-column: 1/3;
  }
}
