* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-left: 5rem;
  margin-right: 5rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 95%;
  object-fit: cover;
  position: relative;
}

.img1 {
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
}

.button_wrapper {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  justify-self: center;
  align-self: center;
  padding-top: 8rem;
  padding-right: 3rem;
}

.link {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #f4255c;
  padding: 0.5em 1.5em;
  border-radius: 8px;
  text-decoration: underline;
  transition: box-shadow 0.3s;
}

.link:hover {
  background-color: #f4255c;
  color: white;
  text-decoration: underline;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.grid_1-1 {
  display: grid;
  gap: 50px;
}

.col {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 0;
  padding-bottom: 1rem;
}

.col_1 {
  border-radius: 100px;
  display: grid;
}

.col_2 {
  border-radius: 100px;
  display: grid;
}

.col_3 {
  border-radius: 100px;
  display: grid;
}

@media (max-width: 768px) {
  .link {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #f4255c;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    text-decoration: underline;
    transition: box-shadow 0.3s;
  }

  .button_wrapper {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    justify-self: center;
    align-self: center;
    padding-top: 8rem;
    padding-right: 3rem;
  }
}
@media (min-width: 900px) {
  body {
    background-color: rgb(246, 237, 232);
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }
  .col_3 {
    grid-column: 1/2;
  }
}
