/* Dette gør at man fjerner tingene ved at skrive 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(246, 237, 232);
}
h1 {
  text-align: center;
  color: chocolate;
  font-size: 80px;
  margin-top: 4%;
  font-family: "fino", serif;
  font-weight: 400;
  font-style: normal;
}

.baggrund {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1000px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 10;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .baggrund {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

/* display flex gør at punkterne kommer ved siden af hinanden. justify-content space around giver 
plads rundt om. align-items gør at det hele bliver samlet i midten. (tilføj font)*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: rgb(246, 237, 232);
  font-family: "Poppins", sans-serif;
}

.logo {
  margin-right: 35%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(46, 14, 223);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(48, 14, 182);
  margin: 5px;
}

/* 0px på right så de bliver låst fast i højre side. flex-direction column får 
linksne til at være i en kolonneform, og derefter align-items center. 
for at fjerne den store navigation-box bruger man transform:translateX(100%)
som flytter hele boxen væk fra skærmen. Ved at bruge body overflow-x hidden
kan man ikke se boxen. */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  /* ændre height her for at få boxen helt ned til bunden */
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(46, 12, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links a {
    color: aliceblue;
  }

  /* i mobilformatet sætter vi nav-linksne til 0% opacity så man ikke kanse de dem.
  derefter går vi fra display none til display block for at få burgermenuen tilbage  */
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

/* når man klikker på burgermenuen vil vi gerne have at navigationen skal
vises. så man tager transform:translate x(100%) til 0%.  */
.nav-active {
  transform: translateX(0%);
}

/* efter javascriptet er vi nået hertil. Nu skal der laves en animation som
får nav-linksne frem. Her bruger man keyframes. opacity og tranform får boxen
til at slide in på en fed måde. */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
